*.pyc
__pycache__

*.idea
.vscode
*.ipynb_checkpoints

playground.py

/units/unit_0_ref
/units/unit_0_videos
/units/unit_1_videos
/units/unit_1_ref
/units/unit_1/resources_project1
/units/unit_2_ref
/units/unit_2/project_2/Datasets
/units/unit_3/project_3/Datasets
/units/unit_4_ref
unit_5_ref
